.fishing-map {
    position: relative;
}

.location-info-window {
    padding: 0;

    h3 {
        margin: .3em 0 .5em 0;
        text-align: center;
    }

    p {
        font-weight: 400;
        letter-spacing: 1px;
    }
}