.locations {
	display: flex;
	flex-direction: column;

    .right {
        margin-top: 3em;
    }

    .item-list {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        margin-bottom: 3em;
    }

    .slide-in-panel.open {
        margin-left: -2.5%;
        width: 105%;
    }
}

@media(min-width: 600px) {

    .locations {
        .item-list {
            max-width: 800px;
        }
    }

}

@media(min-width: 900px) {
	
    .locations {
		flex-direction: row;
		gap: 3em;

        .left {
            width: 30%;
            max-width: 320px;
            margin-top: 3em; 
        }
    
        .right {
            flex-grow: 1;
        }
	}
    
}