.location-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2em;
	width: 95%;
	margin: 0 auto;
	padding: 2.5em 0;

	.left, .right {
		display: flex;
		flex-direction: column;
	}

	.location-description {
		border-radius: 5px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
	}

	.right {
		gap: 2em;
	}

	.location-rules {
		background-color: var(--clr-primary);
		color: #FFF;
	}
}

@media(min-width: 900px) {

	.location-details {
		flex-direction: row;

		.left {
			width: 35%;
		}

		.right {
			width: 65%;
		}
	}

}