.location-card {
	width: 100%;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0,0,0,.15);

	.location-card-image {
		height: 340px;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}

    .location-card-body {
		display: flex;
		flex-direction: column;
		gap: 1.5em;
        padding: 1.5em 1.5em 3em;
    }
}