.fishing-map {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .map-area {
        position: relative;
        flex: 1;
        min-height: 0;
    }

}

@media(max-width: 899.99px) {
    .fishing-map:has(.slide-in-panel.open) {
        overflow-y: auto;

        .map-area {
            flex: 0 0 45vh;
            min-height: 45vh;
        }
    }
}
