.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.4em;
	line-height: normal;
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	padding: 0.7em 1.4em;
	border: 0;
	border-radius: var(--radius-input);
	cursor: pointer;
	outline: 0;
}
