.landing-page {
    background: #FFF;
    background-image: url('../images/landing/wave.svg');
    background-size: cover;
    background-position-x: center;

    .landing-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3em 0;
        max-width: 1350px;
    }

    .landing-title {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
        line-height: 1.3;
        margin: 0 0 .8em 0;
    }

    .landing-subtitle {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.6;
        padding: 0;
        margin: 0 0 2rem 0;
    }

    .hero-image {
        width: 380px;
    }
}

@media(min-width: 900px) {

    .landing-page {
        .landing-container {
            flex-direction: row;
            gap: 1em;
            justify-content: space-between;
            width: 75%;
            padding: 7em 0;
            margin: 0 auto;
        }

        .hero-image {
            width: 405px;
            margin-top: -5em;
        }
    }

}

@media(min-width: 1000px) {
    .landing-page {
        .landing-title {
            font-size: 3rem;
        }
    }
}