.navigation-info-window {
    .navigation-info-window-title {
        text-align: center;
        font-size: 1.25rem;
    }

    .navigation-info-window-text {
        font-size: 1rem;
        line-height: 1.3;
    }
}