.pagination {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 2em 0;
	justify-content: center;
}

.page-link {
	border: 1px solid #dee2e6;
	padding: .5rem .75rem;
	text-decoration: none;
	color: inherit;
}

.page-link.active {
	background: #143774;
	color: white;
}

.link-item-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.link-item {
	position: relative;
	display: flex;
	gap: .33em;
	align-items: center;
	padding-bottom: .15em;
}

.link-item::after {
	position: absolute;
	content: '';
	height: 2px;
	width: 90%;
	left: calc(5%);
	bottom: 0;
	background: var(--clr-primary);
}

.link-item-icon {
	color: var(--clr-primary);
	font-size: 1.125rem;
}

/* Image carousell */

.image-carousell {
	position: relative;
}

.image-carousell img {
	width: 100%;
	height: 100%;
}

.btn-image-previous,
.btn-image-next {
	text-shadow: 0 0 2px #000;
	padding: 0 15px;
	top: calc(50% - 20px);
	position: absolute;
	color: #f1f1f1;
	opacity: .5;
	font-size: 40px;
    font-weight: bold;
	cursor: pointer;
	z-index: 99;
}

.btn-image-previous {
	left: 0;
}

.btn-image-next {
	right: 0;
}

.slide-in-panel {
	position: absolute;
	padding: 4.5em 1.5em 2em 1.5em;
	width: 100%;
	left: 0;
	box-shadow: 0 0 3em rgba(0,0,0,.5);
	background: var(--clr-bg-body);
	transform: translateX(-100%);
	transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
	z-index: 99;
}

.slide-toggle {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	background: white;
	padding: .8em .8em;
	border: 0;
	border-radius: 0 0 5px 0;
	cursor: pointer;
	font-size: 1.5rem;
	z-index: 99;
}

.slide-in-panel.open {
	transform: translateX(0);
}

.open .slide-toggle {
	transform: translateX(0);
	background: var(--clr-bg-body);
}

.collapse {
	width: 100%;
	margin-bottom: 1.25em;
}

.collapse-header {
	display: flex;
	align-items: center;
	gap: .5em;
	padding: .25em 0 .5em 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

.button-collapse {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background: var(--clr-primary);
	border: 0;
	font-size: .8rem;
	width: 1.8em;
	height: 1.8em;
	border-radius: 50%;
	cursor: pointer;
	outline: 0;
}

.button-collapse:focus,
.button-collapse:hover {
	background: var(--clr-primary-dark);
}

.label-collapse {
	font-size: 1.125rem;
	font-weight: 700;
}

.collapse-body {
	display: none;
	padding: .5em 0;
}

.collapsible-textarea .collapse-body {
	padding: 0;
}

.collapse.open .collapse-header {
	box-shadow: none;
}

.collapse.open .collapse-body {
	display: block;
}

.collapsible-paragraph {
	padding: 0;
	white-space: pre-line;
}

.collapsible-paragraph a {
	color: var(--clr-primary);
}

@media(min-width: 900px) {
	.slide-in-panel.default {
		position: unset;
		transition: none;
		transform: translateX(0);
		box-shadow: none;
		padding: 0;
	}

	.slide-toggle {
		display: none;
	}

	.slide-in-panel.floating {
		top: 2em;
		left: 1em;
		z-index: 99;
		transition: none;
		transform: translateX(0);
		padding: 3em 1.5em 2em;
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		border-radius: 8px;
		width: 395px;
	}

	.btn-image-previous,
	.btn-image-next {
		display: none;
	}

	.image-carousell:hover .btn-image-previous,
	.image-carousell:hover .btn-image-next {
		display: inline;
	}
}