.button-success {
    display: block;
    font-size: 1.5rem;
    padding: .7em 1.8em;
    border: 0;
    background: #00A361;
    color: white;
    border-radius: var(--radius-input);
    cursor: pointer;
    outline: 0;

    &:hover,
    &:focus {
        background: #008b54;
    }

    &:active {
        color: #00A361;
        background: white;
        border: 2px solid #00A361;
    }
}