.button-secondary {
    background: #fff;
    color: var(--clr-secondary-text);
    border: 1px solid #d0d0d0;

    &:hover,
    &:focus {
        background: var(--clr-secondary-dark);
        border-color: var(--clr-input-border);
    }

    &:disabled {
        background: rgba(250, 250, 250, 0.5);
        color: #aaa;
        border-color: #e0e0e0;
        cursor: default;
    }
}