.button-success {
    font-size: 1rem;
    font-weight: 500;
    background: #00A361;
    color: #fff;

    &:hover,
    &:focus {
        background: #008b54;
    }

    &:active {
        background: #007a4a;
    }

    &:disabled {
        background: #8ED9B8;
        cursor: default;
    }
}