/* You can add global styles to this file, and also import other style files */
html {
	height: 100%;
}

body {
	background: #fbfbfb;
	height: 100%;
	margin: 0;
}

.top-margin {
	margin-top: 5.5rem;
}